<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Shortify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type=text/css href="{% static 'css/materialize.min.css' %}">
    <link rel=stylesheet type=text/css href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type=text/css href="{% static 'css/materialize.min.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<script type="text/javascript">
 $(function() {
     $('#submitButton').click(function() {
         $.ajax({
             type: "POST",
             url: "/shortify",
             data: JSON.stringify({'url' : $('#url').val()}),
             success: returnSuccess,
             dataType: 'json',
             contentType: "application/json",
         });
     });
});

function returnSuccess(data, textStatus, jqXHR) {
    if(data.url) {
        $('#url-result').text(data.url);
        $('#url').val("");
        $("a").attr("href", data.url)
    } else {
        $('#url-result').text(data.error);
    }
}
</script>

<body>
    <div id="wrap">
        <header>
           <h1><a href="">shortify</a></h1>
           <p>Shortify your links</p>
        </header>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <input type="text" name="url" id="url" class="form-control input-sm" placeholder="http://www.google.com" />
                </div>
            </div>
            <div class="row">
                <div class="col s4 offset-s4">
                    <button id="submitButton" class="waves-effect waves-light btn-large blue darken-1">Shorten</button>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="panel-footer">
                        <h4>
                            <a href="#" id="url-result">Enter URL</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer><a href="https://github.com/qiwiGremL1n/shortify">https://github.com/qiwiGremL1n/shortify</a></footer>
</body>
</html>
